<form method="post" action="{{ path('instruments_delete', {'idinstruments': instrument.idinstruments}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer l\'instrument ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instrument.idinstruments) }}">
    <button class="btn">Supprimer</button>
</form>
