{% extends 'base.html.twig' %}

{% block title %}Musical{% endblock %}

{% block body %}

    {% block entete_haut %}

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light static-top sb-navbar">
            <div class="container">
                <a class="navbar-brand" href="{{ path("accueil") }}">Musical</a>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">

    {% endblock %}

    {% block menu %}{% endblock %}

{% block entete_bas %}



    </div>
    </div>
    </nav>
{% endblock %}

    {% block content %}
        <!-- Page Content -->
        <header class="page-heading">
            <div class="container">
                <h1>{% block titre %}Musical.be{% endblock %}</h1>
                <p>{% block stitre %}un sous-titre{% endblock %}</p>
            </div>
        </header>
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Musical</a>
                </li>
                <li class="breadcrumb-item active">{% block lien1 %}Accueil{% endblock %}</li>
            </ol>
        </div>

                        {% block contenu %}Le texte de la page{% endblock %}

    {% endblock %}

    {% block footer %}
        <footer>
            <div class="footer-mailchimp">
                <div class="container text-center">
                    <h2>Voulez vous encore plus d'actualité sur les instruments de musiques ?</h2>
                    <h5>Abonne toi à l'un de nos réseaux sociaux !</h5>


                </div>
            </div>

            <div class="footer-social">
                <div class="container text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item social-github">
                            <a href="#">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item" style="background-color: #3eb991; border-radius: 100%;">
                            <a href="#">
                                <i class="fab fa-slack"></i>
                            </a>
                        </li>
                        <li class="list-inline-item social-twitter">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item social-facebook">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item social-google-plus">
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-main">
                <div class="container">
                    <a href="/">Musical</a>
                    est un projet réalisé par
                    <a href="http://shaban.webdev-cf2m.be">Shaban Kaloshi</a>
                    chez
                    <a href="https://cf2m.be">CF2m</a>.
                    <br>
                    Themes and templates licensed
                    <a href="https://opensource.org/licenses/MIT">MIT</a>, Start Bootstrap website
                    <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
                    <br>
                    Basé sur
                    <a href="https://getbootstrap.com">Bootstrap</a>.
                </div>
            </div>
        </footer>
    {% endblock %}

{% endblock %}